@media screen and (max-width:900px){
    .nav{
        display: none;
    }
    .mobile-menu{
        display: flex;
    }
    .content{
        padding: 0 20px;
    }
    .header_img{
        display: none;
    }
    .header_11{
        padding-top: 130px;
    }
    .section1{
        flex-direction: column;
        padding: 60px 20px;
    }
    .section1_swiper{
        width: 100%;
    }
    .section2_img{
        display: none;
    }
    .section2_info {
        margin-left: 0;
    }
    .section4_info_buttons{
        width: 600px;
    }
    .nav_links{
        width: auto;
        gap: 20px;
    }
}
@media screen and (max-width:450px){
    .section4_info{
        max-width: 380px;
    }
    .section4_info_buttons{
        width: 12rem;
        flex-direction: column;
    }
    .footer_nav{
        flex-wrap: wrap;
        flex-direction: column;
        display: flex;
        justify-content: space-between;
        align-items: start;
        height: 130px;
    }
    .section4_info_buttons{
        width: auto;
        margin: auto;
    }
    .section4_info_buttons_input{
        width: auto;
        padding: 0;
        margin: 0;
    }
}
@media screen and (max-width:400px){
    .section4_info{
        max-width: 300px;
    }
    .content{
        padding: 10px;
    }
    .header_11{
        padding-top: 100px;
    }
    .section2_info_title{
        flex-wrap: wrap;
    }
    .section4_info_title{
        font-size: 50px;
    }
    .section4_info_buttons{
        width: auto;
        margin: auto;
    }
    .section4_info_buttons_input{
        width: auto;
        padding: 0;
        margin: 0;
    }
    .section2_info_title{
        font-size: 40px;
    }
    .section2_info_person_card_info_name{
        font-size: 25px;
    }
    .section2_info_person_card_info_country{
        font-size: 18px;
        line-height: 25px;
    }
    .header_info_title{
        font-size: 50px;
    }
    .section1_info_title{
        font-size: 50px;
    }
}